extends layout

block content
    link(rel='stylesheet', href='/stylesheets/index.css')
    h1= title
    p Welcome 
        a(href='/personalCenter/#{username}') #{username}
        span  to #{title}
    ul
        - for link in links
            li
                a(href='#{link}') #{link}